
<div class="col p-5 home-banner">
    <div class="container">
        <div>
            <p>Shall we dance?</p>
            <h1>We're not Lopez, <br> but you can dance like Gere.</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <%= fa_icon "quote-left 4x", class: "text-muted pull-left" %>
            <h2>Best experience I had, so easy to manage my dance classes and also a incredible way to connect with other teachers and with new students</h2>
            <%= fa_icon "quote-right 4x", class: "text-muted pull-right" %>
        </div>
    </div>
</div>
