@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "font-awesome";


.navbar-lewagon {
  justify-content: space-between;
  background-color: #f6f8fA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.home-banner{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("tango.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  color: white;
  display: flex;
  align-items: center;
}